.president-display {
  position: relative;
  display: inline-block;
  text-align: center;
}

.image-overlay {
  position: relative;
  display: inline-block;
}

.president-image {
  width: 60%;
}

.podium-overlay {
  position: absolute;
  top: 15px; /* Adjust top position *//* Default left position */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align podiums to bottom of president image */
  width: 100%; /* Ensure podium overlay covers the entire president image */
  height: 100%; /* Ensure podium overlay covers the entire president image */
}



.podium-image {
  width: 36%;
  max-width: 220px; /* Adjust size as needed */
}

.president-info {
  margin-bottom: 2px; /* Space between president info and image */
}

.president-title {
  font-weight: bold;
  font-size: 20px; /* Adjust font size */
}

.total-votes {
  font-size: 18px;
  color: black;
  position: relative;
  top:15px;

}

.president-display.lower-opacity {
  opacity: 0.5; /* Adjust the opacity value as needed */
}

.explosion-gif {
  position: absolute; /* Position absolutely to not affect layout */
  left: 0;
  bottom: 10px;
  width: 100%; /* Ensure it covers the entire podium overlay */
  height: 100%; /* Ensure it covers the entire podium overlay */
  z-index: -1; /* Ensure it appears above other content in the podium overlay */
}
