.president-display {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: opacity 0.3s ease, border-width 0.3s ease;
}
/* General Styles for horizontal-layout-president */
.horizontal-layout-president {
  background-image: url('/stage.png');
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 30px;
  background-size: contain; /* Makes the image fit within the element without cropping */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center 25px;
  /* Centering styles */
  margin-left: auto;
  margin-right: auto;
  position: relative;

}

/* Adjustments for screens larger than 992px */
@media (min-width: 992px) {
  .horizontal-layout-president {
    max-width: calc(100vw - 36%); /* Adjust max-width to account for sidebars */
    transform: scale(calc((100vw - 26%) / 800)); /* Adjust scaling to fit within sidebars */
    margin-bottom: 75px;
  }
}

/* Adjustments for screens smaller than 992px */
@media (max-width: 992px) {
  .horizontal-layout-president {
    width: 100%; /* Ensure full width */
    transform: none; /* Remove scaling to ensure it takes full width */
  }
}




/* Adjustments for screens larger than 1600px */
@media (min-width: 1500px) {
  .horizontal-layout-president {
    scale: 118%; /* Limit width to account for sidebars */
  }
}

@media (min-width: 1900px) {
  .horizontal-layout-president {
    scale: 133%; /* Limit width to account for sidebars */
  }
}




.image-overlay {
  position: relative;
  display: inline-block;
}

.president-image {
  width: 60%;
}

.podium-overlay {
  position: absolute;
  top: 15px; /* Adjust top position *//* Default left position */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align podiums to bottom of president image */
  width: 100%; /* Ensure podium overlay covers the entire president image */
  height: 100%; /* Ensure podium overlay covers the entire president image */
}



.podium-image {

  max-width: 220px; /* Adjust size as needed */
  width: 36%;
}

.president-info {
  margin-bottom: 2px; /* Space between president info and image */
}

.president-title {
  font-weight: bold;
  font-size: 20px; /* Adjust font size */
  color: white;
  text-shadow:
  1px 1px 0 black, /* Horizontal and vertical shadow offset, color */
  -1px -1px 0 black, /* Shadow offsets in the opposite direction */
  1px -1px 0 black, /* Other shadow offsets */
  -1px 1px 0 black; /* Final shadow offset */
}

.global-total-votes {
  color:white;
  text-shadow:
  1px 1px 0 black, /* Horizontal and vertical shadow offset, color */
  -1px -1px 0 black, /* Shadow offsets in the opposite direction */
  1px -1px 0 black, /* Other shadow offsets */
  -1px 1px 0 black; /* Final shadow offset */

}

.president-display.selected {
  border: 2px solid #000000; /* Border for selected item */
  border-radius: 20px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: Shadow for selected item */
  opacity: 1; /* Full opacity for selected item */
}



.president-display:not(.selected) {
  opacity: 0.85; /* Reduced opacity for non-selected items */
}

.explosion-gif {
  position: absolute; /* Position absolutely to not affect layout */
  left: 0;
  bottom: 10px;
  width: 100%; /* Ensure it covers the entire podium overlay */
  height: 100%; /* Ensure it covers the entire podium overlay */
  z-index: -1; /* Ensure it appears above other content in the podium overlay */
}
