.president-display {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: opacity 0.3s ease, border-width 0.3s ease;
}

.image-overlay {
  position: relative;
  display: inline-block;
}

.president-image {
  width: 60%;
}

.podium-overlay {
  position: absolute;
  top: 15px; /* Adjust top position *//* Default left position */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align podiums to bottom of president image */
  width: 100%; /* Ensure podium overlay covers the entire president image */
  height: 100%; /* Ensure podium overlay covers the entire president image */
}



.podium-image {

  max-width: 220px; /* Adjust size as needed */
  width: 36%;
}

.president-info {
  margin-bottom: 2px; /* Space between president info and image */
}

.president-title {
  font-weight: bold;
  font-size: 20px; /* Adjust font size */
  color: white;
  text-shadow:
  1px 1px 0 black, /* Horizontal and vertical shadow offset, color */
  -1px -1px 0 black, /* Shadow offsets in the opposite direction */
  1px -1px 0 black, /* Other shadow offsets */
  -1px 1px 0 black; /* Final shadow offset */
}

.global-total-votes {
  color:white;
  text-shadow:
  1px 1px 0 black, /* Horizontal and vertical shadow offset, color */
  -1px -1px 0 black, /* Shadow offsets in the opposite direction */
  1px -1px 0 black, /* Other shadow offsets */
  -1px 1px 0 black; /* Final shadow offset */

}

.president-display.selected {
  border: 2px solid #000000; /* Border for selected item */
  border-radius: 20px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: Shadow for selected item */
  opacity: 1; /* Full opacity for selected item */
}



.president-display:not(.selected) {
  opacity: 0.7; /* Reduced opacity for non-selected items */
}

.explosion-gif {
  position: absolute; /* Position absolutely to not affect layout */
  left: 0;
  bottom: 10px;
  width: 100%; /* Ensure it covers the entire podium overlay */
  height: 100%; /* Ensure it covers the entire podium overlay */
  z-index: -1; /* Ensure it appears above other content in the podium overlay */
}
