/* VoteComponent.css */

.vote-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #E0F2FF;
  max-width: 600px;
  margin: auto;
  text-align: center;
  width: 90%;
}

.form-control {
  margin-bottom: 20px;
  text-align: center;
}



.slider-container {
  margin-bottom: 20px;
}

.slider-label {
  font-size: 1rem;
  color: #333;
}

.button-container {
  margin-top: 20px;
}

.MuiFormControl-root {
  width: 100%;/* Ensure space below */
  text-align: center;
}

.MuiSelect-root {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 12px 16px; /* Increase padding if needed */
  margin-top: 8px; /* Space between label and select */
}

.MuiInputBase-input {
  padding: 12px; /* Adjust padding if needed */
}

.MuiButton-root {
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.MuiButton-root:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}




.token-info {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.clock-countdown {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .vote-container {
    padding: 10px;
  }
}
