/* app.css */

/* General layout styles */


.horizontal-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.winning-message {
  position: absolute;
  top: -42px; /* Adjust as needed to position above the vote bars */
  left: 0;
  right: 0;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  background-color: rgb(243, 241, 101);
  border-radius: 8px;
  width: 70%; /* Adjust width as needed */
  margin: 0 auto; /* Centers the element horizontally */
  overflow: hidden; /* Prevents overflow */
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}

.total-global-votes {
  position: absolute;
  top: 45px; /* Adjust as needed to position above the vote bars */
  left: 0;
  right: 0;
  font-size: 15px; /* Adjust font size as needed */
  font-weight: bold;
 z-index: 5;
 background-color: rgba(255, 255, 255, 0.87);
 border-radius: 8px;
 border: 1px solid black;
 padding: 1px;
 width:50%;
 margin: 0 auto;
}

.vote-bar-wrapper {
  margin-bottom: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  min-width: 30%;
  text-align: center; /* Centers contents horizontally */
}

.vote-bar-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 3px solid black; /* Border style */
  border-spacing: 10px;
  border-radius: 8px; /* Rounded corners */
}

.vote-bar-label {
  width: 50vw;
  text-align: center;
  padding: 5px;
}
.vote-bar-progress {
  display: flex;
  height: 30px;
  position: relative;
}

.vote-bar-tremp {
  background: red;
  height: 100%;
}

.vote-bar-boden {
  background: blue;
  height: 100%;
}



/* Styles for ImageDisplay */
.image-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.image-display {
  margin: 0 10px;
}

.image-display img {
  max-width: 300px; /* Adjust size as needed */
  opacity: 1; /* Default opacity */
  transition: filter 0.3s, opacity 0.3s;
}
