/* app.css */

/* General layout styles */


.horizontal-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.winning-message {
  position: absolute;
  top: -40px; /* Adjust as needed to position above the vote bars */
  left: 0;
  right: 0;
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold;
}

.vote-bar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  text-align: center; /* Centers contents horizontally */
}

.vote-bar-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 5px solid #ccc; /* Border style */
  border-radius: 8px; /* Rounded corners */
}

.vote-bar-label {
  width: 50vw;
  text-align: center;
  padding: 5px;
}
.vote-bar-progress {
  display: flex;
  height: 30px;
  position: relative;
}

.vote-bar-tremp {
  background: red;
  height: 100%;
}

.vote-bar-boden {
  background: blue;
  height: 100%;
}

.vote-bar-percentage {

  top: 50%;
  transform: translateY(+35%);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* Styles for ImageDisplay */
.image-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.image-display {
  margin: 0 10px;
}

.image-display img {
  max-width: 300px; /* Adjust size as needed */
  opacity: 1; /* Default opacity */
  transition: filter 0.3s, opacity 0.3s;
}
